* {
  box-sizing: border-box;
}

body {
  background-color: #7FC8A9;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  width: 265px;
  height: 265px;
  background-color: white;
  border: 3px solid black;
  margin: 20px;
}

.fill {
  background-image: url('https://source.unsplash.com/random/260x260');
  height: 260px;
  width: 260px;
  cursor: pointer;
}

.hold {
  border: solid 5px #caaacc;
}

.hovered {
  background-color: #222;
  border: #0d48c9;
  border-style: dotted;
}

@media (max-width: 800px) {
  body {
    flex-direction: column-reverse;
  }
}