/* 
    There should be six box elements, lined up vertically.
    All boxes are centered horizontally and equally spaced vertically. When the browser window is resized, the spacing between the boxes should change (they should be equally spaced vertically across the page). However, the boxes themselves should never overlap or change size.
    Each box is 100x100 pixels, with a 1px line (color: #687291) on top. Text is centered horizontally.
    Boxes alternate colors (colors: #dfe1e7, #eeeff2).
    The final element (color: #687291) has a 4px, black border and the text is centered vertically.
    The font in all elements is Tahoma, 40 pixels.
*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto 0;
  border-top: 1px solid #687291;
  background: #dfe1e7;
  text-align: center;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  /* to avoid overlap or change size when we resize the window */
  flex: 0 0 100px;
}

.child:nth-child(even) {
  background: #eeeff2;
}

#F {
  border: 4px solid black;
  background: #687291;
  line-height: 100px;
}

/* https://raw.githubusercontent.com/MartinLwx/CS142-Spring-2022-Stanford/main/Proj01.HTML-and-CSS/styleA.css */
